  .recipelist {
    border-collapse: collapse;
    position: relative;
  }
  .recipelist th{
    border: 0px solid black;
    border-radius: 3px 3px 3px 3px;
    background-color: #484C54;
    padding: 3px;
    font-family: sans-serif;
    margin: 4px;
    font-weight: bold;
    text-align: left;
    width: 40px;
    color: #FFFFFF;
  }

  .recipelist td{
    padding: 3px;
    margin-bottom: 5px;
    font-size: 12px;
    max-height: 10px;
    overflow-x: hidden;
    white-space: nowrap;
    color: #FFFFFF;
  }
  .recipelist tr{
    border: 1px solid black;
    overflow-x: hidden;
    max-height: 10px;
    color: #FFFFFF;
  }

  .recipelist  td:nth-child(1) {
    width: 25px;
    overflow: clip;
  }
  
  .recipelist  td:nth-child(2) {
    width: 130px;
  }
  
  .recipelist  td:nth-child(3) {
    width: 160px;
    overflow: clip;
  }
  
  .recipelist  td:nth-child(4) {
    width: 130px;
    overflow: hidden;
  }
  .recipelist  td:nth-child(5) {
    width: 150px;
    overflow: clip;
  }
  .recipelist  td:nth-child(6) {
    width: 505px;
    overflow: clip;
  }

  .recipelist-selected{
    background-color: brown;
  }
  /*.recipelist tbody tr:nth-of-type(even) {
    background-color: #484C64;
  }

  .recipelist-selected{
    background-color: brown;
  }
  /*.recipelist-noselected{
    background-color: brown;
  } */ 
  .pagination-container {
    left: 50px;
    align-items: center;
    position: absolute;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #000000;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: .2rem;
    color: #FFFFFF;
  }
  
  .pagination-number:hover,

  .pagination-button:not(.disabled):hover {
    background: #999999;
  }
  
  .pagination-number.active {
    color: #fff;
    background: #b01212;
  }
  
  .hidden {
    display: none;
  }

  /* Run table */
  .runnumbers {
    border-collapse: collapse;
  }
  .runnumbers th{
    border: 0px solid black;
    border-radius: 3px 3px 3px 3px;
    background-color: #484C54;
    padding: 3px;
    font-family: sans-serif;
    margin: 4px;
    font-weight: bold;
    text-align: left;
    width: 40px;
    color: #FFFFFF;
  }

  .runnumbers td{
    padding: 3px;
    margin-bottom: 5px;
    font-size: 13px;
    max-height: 30px;/*
    overflow-x: hidden;
    white-space: nowrap;*/
    color: #FFFFFF;
  }
  .runnumbers tr{
    border: 1px solid black;
    overflow-x: hidden;
    max-height: 30px;
    color: #FFFFFF;
  }

  .runnumbers  th:nth-child(1) {
    width: 150px;
  }

  .runnumbers-selected{
    background-color: brown;
  }