{% load static %}

<html lang="en">
<head>
    <title>iVELO</title>
    <meta charset="utf-8" />
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{% static 'projects.css' %}">
    <link rel="stylesheet" href="{% static 'dtable.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-3.3.1.min.css
    " rel=”stylesheet” type=”text/css”>
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.3.1.min.css"
      rel=”stylesheet” type=”text/css”>
    <!--<link rel="stylesheet" href="{% static 'main/projects.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'main/dragDrop.css' %}">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="maindiv">

      <div class="banner"></div>
   
      <div class="head"> <span style="color:#FF0000">Vertex</span> Locator Dashboard </div>

      <div class="version"><br>Beta v1.1</br></div>
      <div class="info">
        <br>Run analysis, detector recipes and calibration
        <!--<br style="margin-top:-15px">Run info and run analysis-->
      </div>
      
      <div class="author">
        <br> https://gitlab.cern.ch/ivelo/ivelo
        <br> Django server ivelo01 
      </div> 
      <div class="leftdivup"> </div>
     
      <!-- <div style="top:90px;position:relative"><hr style="border-color:black;height:5px"></div> -->
      <div class="roundcorners runsearch" style="color:white;font-family:sans-serif;font-size:13px">Search for the Run: 
        <input type="number" class="runnumberinput" id="runnumberinput" step="1" value = "290000" style="width:80px"/>
        <button id="runsearchbutton">Search</button></div>
      <div class = "roundcorners browser" id = "browser">
        <table id="recipelist" class = "recipelist" style = "table-layout: fixed"></table>
        <nav id="pagination-container" class="pagination-container">
          <div id="pagination-numbers"> </div>
        </nav>
        <!-- <div id = 'recipe_list'> {% block main %} {% endblock %} </div> -->
      </div>

      <div class = "roundcorners runs">
        <table id="runnumbers" class = "runnumbers" style = "table-layout: fixed">
          <tr><th>Reserved</th></tr>
        </table>
      </div>
      <!-- <div class = "menutitle">MENU</div> -->
      <div class = "leftdiv category menu">
        <button class="cattab", onclick="">Run database</button>
        <button class="subcattab", id = 'catvelo', checked="checked">VELO </button>
        <button class="subcattab", id = 'catlhcb', checked="checked">LHCb </button>
        <button class="subcattab", id = 'catut', checked="checked">UT </button>
        <button class="cattab" id = "catlink", onclick="">Run monitor </button>
        <button class="subcattab", id = "runnoise">VPClusters (noise)</button>
        <button class="subcattab", id = 'runbeam', checked="checked", style="color:rgb(100, 100, 100)">VPClusters (beam) </button>
        <button class="subcattab", id = "runeff", onclick="", style="color:rgb(100, 100, 100)">Pseudo hit eff. </button>
        <button class="subcattab", id = 'runbunch', checked="checked", style="color:rgb(100, 100, 100)">Bunch monitor</button>
        <button class="cattab" id = "catlink", onclick="">FE Calibration </button>
        <button class="subcattab", id = "catequalisation">Equalisation </button>
        <button class="subcattab", id = "catta", onclick="">Time alignment </button>
        <button class="subcattab", id = "catta", onclick="", style="color:rgb(100, 100, 100)">CDL scan </button>
        <button class="subcattab", id = 'catdac', checked="checked">DAC scan</button>
        <button class="subcattab", id = "cativ", style="color:rgb(100, 100, 100)">IV scan </button>
        <button class="cattab", onclick="">Recipe</button>
        <button class="subcattab subcattabactive", id = 'catchip', checked="checked">Chip </button>
        <button class="subcattab", id = 'catmatrix'>Matrix </button>
        <button class="subcattab", id = 'catopb', checked="checked", style="color:rgb(100, 100, 100)">OPB </button>
        <button class="cattab" id = "catscan", onclick="">Commissioning </button>
        <button class="subcattab", id = "catprbs">PRBS </button>
        <!--verify if doesnt slow performance: <script> document.getElementById("defaultOpen").click(); </script>-->
        <button class="cattab", id = "catlink">Trend</button>
        <button class="subcattab", id = "cath1", onclick="", style="color:rgb(100, 100, 100)">Trend: equalisation </button>
        <button class="subcattab", id = "cath2", onclick="", style="color:rgb(100, 100, 100)">Trend: recipe </button>

      </div>

      <!--<div class="roundcorners reserved3">            
      </div>
      <div class="Reserved3label"><br> Reserved 3 </br></div>
      -->
      <div class="tab", id = "superlink">
        <!--<button class="tablink" onclick="openPanel(event, 'Summary')", checked="checked">Summary</button>
        <button class="tablink", id = "mlink">Noise</button> -->
      </div>

        <div id="velomapdiv" class="roundcorners tablediv">
          <!-- 1st window -->
          <div class = "dopt paramoptions"> 
            <div class="paramtitle">Select view options </div>
            <div class ="param_select_label"> Select view:
              <select class="param_select" id="param_select"> </select> </div>
            <div class ="param_equal_label" id = "param_equal_label"> from:
              <select class="param_equal1" id="param_equal1"> </select>
              <!--, param: <select class="param_equal2" id="param_equal2"> </select>  --> </div>
          </div>
          <!-- 2nd window -->
          <div class = "dopt scanoptions">
            <div class="rtitle">Reserved (dashboard manage)</div>
          </div>
          <!-- 3rd window -->
          <div class = "dopt coloroptions"> 
            <div class="colorscaletitle">Color scale options </div>
            <div class ="colorscale_select_label"> Color scale: 
              <select class="colorscale_select" id="colorscale_select"> </select> </div>
            <div class ="colorscale_input1_label"> Min:
              <input type="number" class="colorscale_input1" id="colorscale_input1" step="5"/> </div>
            <div class ="colorscale_input2_label"> Max:
              <input type="number" class="colorscale_input2" id="colorscale_input2" step="5"/> </div>
          </div>

          <table id="velomap" class = "velomap"></table>
          <table id="prbsmap" class = "prbsmap"></table>
        </div>

        <!-- run window -->
        <div id="runcommand" class="roundcorners runcommand" style="display:none;">

          
            <table style="width:100%;color:white">
                <!--<tr><th colspan="2" id="infoName" class="thelementname"></th><th>2</th><th>3</th></tr>-->
                <tr><td>Run: <span id="runlabel"></span></td>
                  <td>Partition: <span id="partitionlabel"></span></td>
                  <td>Run type: <span id="runtypelabel"></span></td>
                  <td>Destination: <span id="destinationlabel"></span></td>
                  <td>Activity: <span id="activitylabel"></span></td></tr>
                <tr><td>Start lumi: </td>
                  <td>End lumi: </td>
                  <td>Av lumi: </td>
                  <td>Av mu: </td>
                  <td>Beam energy: </td></tr>
                <tr><td>Fill: </td>
                  <td>Velo Opening: </td>
                  <td>Velo position: </td>
                  <td>Comment: </td></tr>
                <tr><th>Analysed </th><td id="Asic"></th></tr>
                  <tr><th>Run <button id="get_saveset_button">Click me</button>   </th><td id="Masked_pixels"></td></tr>
                  <tr><th>Run type </th><td id="Global_threshold"></td></tr>
                  <tr><td colspan="2"><div id="btnCloseInfoBox" class="button">Close</div></td></tr>
                
            </table>
        
        </div>
        <!--</div>
        <div class="roundcorners colorscale">        
          <button id="get_saveset_button">Click me</button>    
        </div>
                <div id="infoboxbackground" style="position: relative;
          left: 0px; right: 0px; top: 0px; bottom: 0px;
            opacity: 0.8;"></div>
                            <tr><td>Run: </td>
                  <td>22</td>
                  <td>23</td></tr>
                <tr><th>Analysed </th><td id="Asic"></th></tr>
                  <tr><th>Run </th><td id="Masked_pixels"></td></tr>
                  <tr><th>Run type </th><td id="Global_threshold"></td></tr>
                  <tr><td colspan="2"><div id="btnCloseInfoBox" class="button">Close</div></td></tr>
      -->
        <!--
        <div id="asicdetail" class="roundcorners asicdetail">
          
          <div class="tab">
            <button class="tablink" onclick="openCity(event, 'Summary')">Summary</button>
            <button class="tablink" onclick="openCity(event, 'Mask')">Mask</button>
            <button class="tablink" onclick="openCity(event, 'Noise')">Noise</button>
            <button class="tablink" onclick="openCity(event, 'Threshold')">Threshold</button>
          </div>
          <table id="velohist" style="width: 90%;"></table>
          
        </div>-->

        <div id="veloplots">
        <!--
        <div id="veloplots_header" class="veloplots_header">
          This is the bokeh part. Select a sensor from the dashboard or configure the views below.</div> -->
        <div id="veloplot1" class="roundcorners veloplot1 plotactive">
          <div> 
           <select class="b1i" id="b1i1"> </select>
           <select class="b1i" id="b1i2"> </select>
           <select class="b1i" id="b1i3"> </select>
           <button class="bok" id="b1ok">Ok</button>
          </div>
          <div id='bokeh1' style="margin-top:8px">{{div|safe}}</div>{{script|safe}}
        </div>
        <div id="veloplot2" class="roundcorners veloplot2">
          <div >
           <select class="b2i" id="b2i1"> </select>
           <select class="b2i" id="b2i2"> </select>
           <select class="b2i" id="b2i3"> </select>
           <button class="bok" id="b2ok">Ok</button>
          </div>
          <div style = 'font-size:10px'> </div>
          <div id='bokeh2' style="margin-top:8px">{{div|safe}}</div>{{script|safe}}
        </div>
      </div>
        <!--
        <div id="asicdetail" class="roundcorners asicdetail" style="margin-top:295px"></div>
        <div id="veloplot" class="roundcorners veloplot" style="margin-top:295px">
        </div> -->
        <!--
        <div class="roundcorners rightdiv">
  
        <table style="width:100%;">
  
                <tr>
            <td><div class="label">Select main view:</div></td>
          <!--  <td><div class="label">Color by Category</div></td>
          </tr>
                <tr>
            <td class="radiobutton"><div class="radiobutton"><input type="radio" name="colorby" value="colorbycategory" id="colorcategory" checked /></div></td>
          </tr>
  
                <tr>
            <td><div class="label">Color by Block</div></td>
          </tr>
                <tr>
            <td class="radiobutton"><div class="radiobutton"><input type="radio" name="colorby" value="colorbyblock" id="colorblock" /></div></td>
          </tr>
        
              </table>
  
        <table id="categorykey" style="width:100%; display: inline;">
                <tr><td><div class="Agrade">A grade</div></td></tr>
                <tr><td><div class="Bgrade">B grade</div></td></tr>
                <tr><td><div class="Cgrade">C grade</div></td></tr>
                <tr><td><div class="Dgrade">D grade</div></td></tr>

              </table>
  
        <!--<table id="blockkey" style="width:100%; display: none;">
                <tr><td><div class="sblock colorkey roundcorners">s</div></td></tr>
                <tr><td><div class="dblock colorkey roundcorners">d</div></td></tr>
                <tr><td><div class="fblock colorkey roundcorners">f</div></td></tr>
                <tr><td><div class="pblock colorkey roundcorners">p</div></td></tr>
              </table>
            
      </div>
      -->
    </div>
  
  <!--
    <div id="infoboxbackground"
    style="background-color: #000000; position: absolute;
    left: 0px; right: 0px; top: 0px; bottom: 0px;
      opacity: 0.8; visibility: hidden;"></div>
  
    <div id="infobox"
     class="border roundcorners"
    style="position:absolute;  width: 500px; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #FFFFFF; visibility: hidden;">
  
      <table style="width:100%;">
          <tr><th colspan="2" id="infoName" class="thelementname"></th></tr>
          <tr><th> ASIC number </th><td id="Asic"></th></tr>
            <tr><th>Masked pixels </th><td id="Masked_pixels"></td></tr>
            <tr><th>Global threshold </th><td id="Global_threshold"></td></tr>
            <tr><td colspan="2"><div id="btnCloseInfoBox" class="button">Close</div></td></tr>
      </table>
  
    </div>
  -->
    <script type=module src="{% static 'main/velomap.js' %}"></script>
    <script type=module src="{% static 'main/velomapboard.js' %}"></script>
    <script type=module src="{% static 'main/dashboardpage.js' %}"></script>
    <script type=module src="{% static 'main/velomapbox.js' %}"></script>
    <script type=module src="{% static 'main/recipebox.js' %}"></script>
    <script type=module src="{% static 'main/manager.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.4.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.3.4.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.4.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.3.4.min.js"></script>

    {% csrf_token %}

</body>
</html>
